/* Importing a Google Font */

@import url('https://use.typekit.net/olx7igb.css');
@import url("https://use.typekit.net/wzk7juc.css");

/* Changing the main font and background colour */

body {
	font-family: sunshine,sans-serif;
font-weight: 400;
font-style: normal;
	background-color: #FFC65A;
}

/* Changing the background colour for the header */

header {
	font-family: teeshirt,sans-serif;
font-weight: 400;
font-style: normal;
	background-color: #000000;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFC65A;
	font-family: teeshirt,sans-serif;
font-weight: 400;
font-style: normal;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.card-body {
	background-color: #000000; 
}
.card-text {
	background-color: #ffffff; 
}
h1 {
   font-size: 1000%;
	color: #FFC65A; 
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 30px 0 rgba(0,0,0,10);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}